blinker==1.8.2
certifi==2024.2.2
click==8.1.7
distlib==0.3.8
tensorflow==2.12.0
filelock==3.14.0
Flask==3.0.3
Flask-Cors==5.0.0
gunicorn==23.0.0
importlib_metadata==8.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
platformdirs==4.2.1
virtualenv==20.26.1
Werkzeug==3.0.4
zipp==3.20.1
scikit-learn==1.2.2  # Ensure a compatible version of scikit-learn
pandas==1.5.3  # Compatible with Python 3.10
numpy==1.23.5  # Works well with pandas and scikit-learn
